.generate-button {
    margin-top: 10px;
    background: rgb(54, 116, 151);
}

.generate-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}
.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.form {
    display: flex;
    flex-direction: column;
}

.mt-2 {
    margin-top: 2px;
}

.mb-2 {
    margin-bottom: 2px;
}

.mt-4 {
    margin-top: 4px;
}

.mb-4 {
    margin-bottom: 4px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

ul {
    padding: 0;
    margin: 0;
}



.passwords {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 1px 0px 4px #383838;
}
