.App {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Muli,Helvetica,Arial,sans-serif;
    min-height: 100vh;
}

.white {
    color: white;
}

h1 {
    margin: 10px ;
}

.bitbucket-logo {
    width: 100px;
}